nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    /* box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1); */
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-logo {
    width: 90px;
}



.nav-items > li > a {
    float: left;
    list-style: none;
    text-align: center;
    background-color: rgb(89, 81, 81);
    margin-right: 15px;
    width: 150px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    border-radius: 5px;
}

.nav-items > li > a:hover {
    text-decoration: none;
    color: #000000;
    background-color: rgba(163, 200, 254, 0.65);
}

.user{
    text-align: center;
    float: left;
    margin-right: 200px;
    width: 150px;
    line-height: 30px;
    text-decoration: none;
    color: black;
    display: block;
    border-bottom: 2px solid rgba(163, 200, 254, 0.65);
    border-radius: 5px;

}

.logout{
    text-align: center;
    float: left;
    background-color: rgb(89, 81, 81);
    margin-right: 50px;
    width: 150px;
    line-height: 30px;
    text-decoration: none;
    color: black;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    border-radius: 5px;
}

.logout:hover{
    text-decoration: none;
    color: #000000;
    background-color: rgba(163, 200, 254, 0.65);
}

ul, li {
    list-style-type: none;
}

button{
    margin: -24%;
    cursor:pointer;
}
